/********************************************
   HTML ELEMENTS
********************************************/ 

/* top elements */
* { margin: 0; padding: 0; outline: 0; }

body
	{
	background: #caced1;
	font: 82%/1.5em Verdana, Tahoma, arial, sans-serif;
	color: #777;
	text-align: center;
	margin: 15px 0;
	}

/* links */
a, a:visited
	{
	text-decoration: none;
	background: inherit;
	color: #FB9233;
	}
a:hover
	{
	text-decoration: underline;
	background: inherit;
	color: #93C600;
	}

/* headers */
h1, h2, h3
	{
	font-family: Verdana, 'Trebuchet MS', Tahoma, Sans-serif;
	}
h1	{
	font-size: 180%;	
	font-weight: normal;
	color: #555;
	}
h2	{
	font-size: 160%;
	color: #88ac0b;
	font-weight: normal;
	}
h3 	{
	font-size: 135%;	 
	color: #666666;
	}

/* begin images */
img {
	background: #fff;
	border: 1px solid #E5E5E5;
	padding: 5px;
	}
img.float-right
	{
	margin: 5px 0px 10px 10px;
	}
img.float-left
	{
	margin: 5px 10px 10px 0px;
	}

h1, h2, h3, p
	{
	margin: 10px 15px;
	padding: 0;
	}
ul, ol
	{
	margin: 5px 15px;
	padding: 0 25px;
	}

code
	{
	margin: 3px 0;
	padding: 5px;
	text-align: left;
	display: block;
	overflow: auto;
	font: 500 1em 'Lucida Console', 'courier new', monospace ;
	white-space: pre;
	border: 1px solid #E5F0FB;
	background: #F4F8FD;
	}
.blit {
	font: 500 1em/1.5em 'Lucida Console', 'courier new', monospace ;
    font-weight: bold;
}
acronym
	{
	cursor: help;
	border-bottom: 1px dotted #777;
	}
blockquote
	{
	margin: 10px 15px;
	padding: 0 0 0 25px;  
	font: bold 1.3em/1.5em Verdana, 'Trebuchet MS', Tahoma, arial, Sans-serif; 
	color: #2361BA;
	border: 1px solid #E5F0FB;   
	background: #F4F8FD url(images/quote.jpg) no-repeat 8px 6px;
	}
/* end images */

/* table */
table
	{
	border-collapse: collapse;
	margin: 10px 15px;	
	}
th strong
	{
	color: #fff;
	}
th	{
	background: #306bc1 url(images/button-bg.jpg) repeat-x 0 0; 
	height: 35px;
	padding-left: 12px;
	padding-right: 12px;
	color: #fff;
	text-align: left;
	border: 1px solid #306bc1;
	border-bottom-width: 2px;
	}
tr 	{
	height: 32px;
	background: #fff;	
	}
td 	{
	padding-left: 12px;
	padding-right: 12px;
	border: 1px solid #E5F0FB;
	font-size: 11px;
	}

/* form elements */
form
	{
	margin:10px 15px; 
	padding: 10px 0;
	border: 1px solid #E5F0FB; 
	background: #F4F8FD;
	}
fieldset
	{
	margin: 0;
	padding: 0;
	border: none;
	}
legend
	{
	display: none;
	}
label
	{
	display:block;
	font-weight:bold;
	margin: 7px 0;
	}
input
	{
	padding:3px;
	border: 1px solid #E5F0FB; 
	font: normal 1em Verdana, sans-serif;
	color:#777;	
	}
textarea
	{
	width:400px;
	padding:3px;
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #E5F0FB; 
	height:100px;
	display:block;
	color:#777;
	}
input.button
	{ 
	font: 12px Verdana, Tahoma, arial, sans-serif; 
	height: 28px;
	margin: 0;
	padding: 2px 2px; 
	color: #fff;
	background: #306bc1 url(images/button-bg.jpg) repeat-x 0 0; 
	border: 1px solid #306bc1;
	}

/* search form */
.searchform
	{
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 10px 0 0 0;	
	width: 190px;
	}
.searchform p
	{
	margin: 0;
	padding: 0;
	}
.searchform input.textbox
	{ 
	width: 111px;
	color: #777;
	height: 16px;
	padding: 3px;
	border: 1px solid #D2E8F7;
	vertical-align: top;
	}
.searchform input.button
	{
	width: 52px;
	height: 24px;
	padding: 2px 5px;
	vertical-align: top;
	}


/********************************************
   LAYOUT
********************************************/ 
#wrap
	{
	width: 790px;
	background: #CCC url(images/content.jpg) repeat-y center top;
	margin: 0 auto;
	text-align: left;
	}
#content-wrap
	{
	clear: both;
	width: 760px;	
	margin: 5px auto;
	padding: 0; 	
	}
#header
	{
	position: relative;
	height: 131px;
	background: #caced1 url(images/header.jpg) no-repeat center top;
	padding: 0;	
	color: #fff;	
	}
#header h1#logo-text a
	{
	position: absolute;
	margin: 0; padding: 0;
	font: bolder 60px 'Skia', Arial, Sans-serif;
	letter-spacing: -4px;
	color: #fff;
	text-transform: none;
	text-decoration: none;
	background: transparent;
	
	/* change the values of top and left to adjust the position of the logo*/
	top: 40px; left: 100px;	
	}
#header img#logo
	{
	background: transparent;
	border: none;
	position: absolute;
	top: 25px; left: 25px;	
	}
#header p#slogan
	{
	position: absolute;
	margin: 0; padding: 0;
	font: bold 40px 'Skia', Arial, Sans-serif;
	text-transform: none;
	color: #FFF;
	
	/* change the values of top and left to adjust the position of the slogan*/
	top: 80px; left: 50px;		
	}

/* header links */
#header #header-links
	{
	position: absolute;
	color: #C6DDEE;
	font: bold 14px Century Gothic, Arial, Tahoma, Sans-serif;
	top: 20px; right: 20px;
	}
#header #header-links a
	{	
	color: #fff;
	text-decoration: none;	
	}
#header #header-links a:hover
	{
	color: #D4FF55;	
	}

#warning
  {
  clear: both;
  margin: 0 auto; padding: 0;
  background: #81C524 url(images/warning.jpg) no-repeat;
  font: bold 16px/40px Century Gothic, Arial, Tahoma, Sans-serif;
  height: 40px;
  width: 790px;
  }

/* navigation */
#menu
	{
	clear: both;
	margin: 0 auto; padding: 0;
	background: #81C524 url(images/menu.jpg) no-repeat;	
	font: bold 16px/40px Century Gothic, Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 790px;	
	}
#menu ul
	{
	float: left;
	list-style: none;
	margin:0; padding: 0 0 0 20px;
	}
#menu ul li
	{
	display: inline;
	}
#menu ul li a
	{
	display: block;
	float: left;
	padding: 0 12px;
	color: #fff;	
	text-decoration: none;
	background: url(images/sep.jpg) no-repeat 100% 100%;
	}
#menu ul li a:hover
	{
	text-decoration: underline;
	/*color: #3b5e0b;*/
	}
/* for current section link color */
/*#menu ul li#current a
	{
	color: black;
	} */

#link-path
	{
	float: left;
	width: 550px;
	}

/* Main Column */
#main
	{
	float: left;
	width: 560px;
	margin: 0;
	padding: 10px 0 0 0; 
	display: inline;
	background: url(images/box.jpg) no-repeat; 	
	}
#main h2
	{
	font: normal 180% 'Skia', 'Trebuchet MS', Tahoma, Arial, Sans-serif;
	padding: 0; 	
	margin-bottom: 0;		
	color: #2666c3;
	}
#main h2 a
	{
	color: #2666c3;
	text-decoration: none;	
	}

#main p, #main h1, #main h2, #main h3, #main h4, #main ol, #main ul,
#main blockquote, #main table, #main form
	{
	margin-left: 20px;
	margin-right: 25px;
	}
#main h3
	{
	margin-top: 20px;
	font: bold 1.5em 'Skia', 'Trebuchet MS', Tahoma, Sans-serif;
	color: #555;
	}
#main h4
	{
	margin-top: 20px;
	font: 1.3em 'Skia', 'Trebuchet MS', Tahoma, Sans-serif;
	color: #555;
	}

#main ul li
	{
	list-style-image: url(images/bullet.gif); 
	}
#main ul li.h3
	{
	font: 1.5em 'Skia', 'Trebuchet MS', Tahoma, sans-serif;
	}
	

/* sidebar */	
#sidebar
	{
	float: right;
	width: 190px;
	padding: 0;
	margin: 0 0 0 0;	
	color: #777;
	}	
#sidebar h2
	{
	margin: 15px 5px 0px 5px;
	font: bold 1.7em 'Skia', 'Trebuchet MS', Tahoma, sans-serif;
	color: #555;
	}
#sidebar p
	{
	margin-left: 5px;
	}

/* sidemenu */
#sidebar ul.sidemenu
	{
	list-style: none;
	text-align: left;
	margin: 7px 10px 8px 0; padding: 0;
	text-decoration: none;
	border-top: 1px solid #A9D4EF;
	}
#sidebar ul.sidemenu li
	{
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #D2E8F7;
	font-size: 1.3em;
	}
* html body #sidebar ul.sidemenu li
	{
	height: 1%;
	}
#sidebar ul.sidemenu li a
	{
	text-decoration: none;	
	color: #1773BC;				
	}
#sidebar ul.sidemenu li a:hover
	{
	color: #333;
	}
#sidebar ul.sidemenu ul
	{
	margin: 0 0 0 5px;
	padding: 0;
	}
#sidebar ul.sidemenu ul li
	{
	border: none;
	}

/* sidenews */
#sidebar ul.sidenews
	{
	list-style: none;
	text-align: left;
	margin: 7px 10px 8px 0; padding: 0;
	text-decoration: none;
	border-top: 1px solid #A9D4EF;
	}
#sidebar ul.sidenews li
	{
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #D2E8F7;
	}
* html body #sidebar ul.sidenews li
	{
	height: 1%;
	}
#sidebar ul.sidenews li a
	{
	text-decoration: none;	
	color: #1773BC;				
	}
#sidebar ul.sidenews li a:hover
	{
	color: #333;
	}
#sidebar ul.sidenews ul
	{
	margin: 0 0 0 5px;
	padding: 0;
	}
#sidebar ul.sidenews ul li
	{
	border: none;
	}

/* Footer */	
#footer
	{
	color: #C6DDEE;
	background: #caced1 url(images/footer.jpg) no-repeat center top;
	clear: both;
	width: 790px;
	height: 57px;
	text-align: center;	
	font-size: 90%;	
	}
#footer p
	{ 
	padding: 10px 0;
	margin: 0;
	}
#footer a
	{ 
	color: #fff;
	text-decoration: none;
	}

/* post footer */
.post-footer
	{
	background: #F4F8FD;
	padding: 5px; margin: 20px 25px 0 25px;
	border: 1px solid #E5F0FB;
	font-size: 95%;
	}
.post-footer .date
	{
	padding-left: 0px;
	margin: 0 5px;
	}
.post-footer .comments 
	{
	padding-left: 0px;
	margin: 0 5px;
	}
.post-footer .readmore
	{
	padding-left: 0px;
	margin: 0 5px;
	}

.post-by 
	{
	font-size: .95em;
	margin-top: 0;
	}

/* alignment classes */
.float-left 
	{
	float: left;
	}
.float-right
	{ 
	float: right;
	}
.align-left
	{
	text-align: left;
	}
.align-right
	{
	margin: 0;
	text-align: right;
	}

/* display and additional classes */
.clear
	{
	clear: both;
	}

/********************************************
	Original Credit
	AUTHOR: 	 Erwin Aligam 
	WEBSITE:	http://www.styleshout.com/     
	DATE:		November-07-2007     	
 *******************************************/
